.inner-page-banner {
    background: url(../img/cover/cover_services.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 190px;
}

.single-service ul{
    padding-left: 15px;
}

.single-service ul li{
    padding-top: 7px;
    padding-bottom: 7px;
}

.single-service .fa{
    color: #e67e22;
}