.inner-page-banner {
    background: url(../img/cover/cover_works.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 190px;
}

.project-details-wrapper iframe{
    width: 100%;
    min-height: 600px;

    padding-top: 30px;
    padding-bottom: 50px;
}